[Unit]
Description=Streamlit app to correct typos with an LLM.
After=network.target

[Service]
WorkingDirectory=/srv/typofixer
ExecStart=poetry run streamlit run typos_web/main.py

[Install]
WantedBy=multi-user.target
